# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
Jaipur/cmake_install.cmake
Jaipur/CMakeCache.txt
Jaipur/CMakeFiles/3.29.2/CMakeCCompiler.cmake
Jaipur/CMakeFiles/3.29.2/CMakeCXXCompiler.cmake
Jaipur/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_C.bin
Jaipur/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_CXX.bin
Jaipur/CMakeFiles/3.29.2/CMakeRCCompiler.cmake
Jaipur/CMakeFiles/3.29.2/CMakeSystem.cmake
Jaipur/CMakeFiles/3.29.2/CompilerIdC/CMakeCCompilerId.c
Jaipur/CMakeFiles/3.29.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Jaipur/CMakeFiles/cmake.check_cache
Jaipur/CMakeFiles/CMakeConfigureLog.yaml
Jaipur/CMakeFiles/CMakeDirectoryInformation.cmake
Jaipur/CMakeFiles/Makefile.cmake
Jaipur/CMakeFiles/Makefile2
Jaipur/CMakeFiles/progress.marks
Jaipur/CMakeFiles/TargetDirectories.txt
Jaipur/Makefile
Jaipur/src/cmake_install.cmake
Jaipur/src/CMakeFiles/CMakeDirectoryInformation.cmake
Jaipur/src/CMakeFiles/jaipur.dir/build.make
Jaipur/src/CMakeFiles/jaipur.dir/cmake_clean.cmake
Jaipur/src/CMakeFiles/jaipur.dir/compiler_depend.internal
Jaipur/src/CMakeFiles/jaipur.dir/compiler_depend.make
Jaipur/src/CMakeFiles/jaipur.dir/compiler_depend.ts
Jaipur/src/CMakeFiles/jaipur.dir/depend.make
Jaipur/src/CMakeFiles/jaipur.dir/DependInfo.cmake
Jaipur/src/CMakeFiles/jaipur.dir/flags.make
Jaipur/src/CMakeFiles/jaipur.dir/link.txt
Jaipur/src/CMakeFiles/jaipur.dir/progress.make
Jaipur/src/CMakeFiles/progress.marks
Jaipur/src/Makefile
Jaipur/src/jaipur_game_state.json
.vscode/settings.json
